@model User

<form method="post" enctype="multipart/form-data">
   <input type="hidden" asp-for="UserId" />    @* UserId'yi formdan sunucuya göndermek için *@
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">New User</h2>
            </hr>
        </div>

        <div class="mb-3">
            <label asp-for="UserName" class="p-0"></label>
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="p-0"></label>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Role" class="p-0"></label>
            <input asp-for="Role" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="ManagerId" class="form-label">Select Manager</label>
            <select asp-for="ManagerId" class="form-control">
                <option value="">No Manager</option>
               
                @if (ViewBag.Users != null)
                {
                    foreach (var user in ViewBag.Users)
                    {
                        <option value="@user.UserId">@user.UserName</option>
                    }
                }
                else
                {
                    <option>No users available</option>
                }
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Create</button>      
        <a asp-controller="User" asp-action="Index" class="btn btn-primary">Close</a>


    </div>
</form>

